// 全局mixins
@mixin btn-size($padding-y,$padding-x,$border-radius,$font-size){
    padding: $padding-y $padding-x;
    border-radius: $border-radius;
    font-size: $font-size;
}

@mixin btn-type(
    $color,
    $bg-color,
    $border,
    $hover-bg-color:lighten($bg-color,7.5%),
    $hover-border: lighten($border, 10%),
    $hover-color:$color
    ) {
    color: $color;
    background-color: $bg-color;
    border-color: $border;
    &:hover{
        color: $hover-color;
        background-color: $hover-bg-color;
        border-color: $hover-border;
    }
    &:focus,
    &.focus{
        color: $hover-color;
        background-color: $hover-bg-color;
        border-color: $hover-border;
    }
    &:disabled,
    &.disabled{
        color: $color;
        background-color: $bg-color;
        border-color: $border;
    }
}

@mixin zoom-animation(
    $direction:'top',
    $scaleStart:scaleY(0),
    $scaleEnd:scaleY(1),
    $origin: center top
) {
    .zoom-in-#{$direction}-enter{
        opacity: 0;
        transform:$scaleStart;
    }
    .zoom-in-#{$direction}-enter-active{
        opacity: 1;
        transform: $scaleEnd;
        transition: transform 300ms cubic-bezier(0.23, 1, 0.320, 1) 100ms,opacity 300ms cubic-bezier(0.23, 1, 0.320, 1) 100ms;
        transform-origin: $origin;
    }
    .zoom-in-#{$direction}-exit{
        opacity: 1;
    }
    .zoom-in-#{$direction}-exit-active{
        opacity: 0;
        transform:$scaleStart;
        transition: transform 300ms cubic-bezier(0.23, 1, 0.320, 1) 100ms,opacity 300ms cubic-bezier(0.23, 1, 0.320, 1) 100ms;
        transform-origin: $origin;
    }
}