.viking-upload-component{
    margin-top: 20px;
    margin-left: 20px;
}
.viking-upload-list{
    list-style: none;
    padding: 0;
    max-width: 360px;
    .viking-upload-list-item{
        width: 100%;
        font-size: 14px;
        position: relative;
        border-radius: 4px;
        margin-top: 10px;
        line-height: 1.8;
        transition: all .5s cubic-bezier(.55,0,.1,1);
        .file-name {
            margin-left: 5px;
            margin-right: 40px;
            svg {
              margin-right: 5px;
              color: $gray-500;
            }
          }
        .file-name-error{
            color: $danger;
            svg{
                color: $danger;
            }
        }
        .file-status{
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 0;
            line-height: inherit;
        }
        .file-actions{
            display: none;
            position: absolute;
            right: 10px;
            top: 0;
        }
        &:hover{
            background-color: $gray-200;
            cursor: pointer;
            .file-status{
                display: none;
            }
            .file-actions{
                display: inline-block;
            }
        }
    }
}